/.github/ @SebastianMacaya @Fttab101 @karinakozlowski @superjonic @Dutaya000 @deniiamayaDev
/prisma/ @SebastianMacaya @Fttab101 @karinakozlowski @superjonic @Dutaya000 @deniiamayaDev
/docs/adr/ @SebastianMacaya @Fttab101 @karinakozlowski @superjonic @Dutaya000 @deniiamayaDev
/docs/ARCHITECTURE.md @SebastianMacaya @Fttab101 @karinakozlowski @superjonic @Dutaya000 @deniiamayaDev
/AGENTS.md @SebastianMacaya @Fttab101 @karinakozlowski @superjonic @Dutaya000 @deniiamayaDev
